:root {
    --primary-color: #3498db;
    --padding: 8px;
    --gap: 8px;
    --border-radius: 8px;
    --darkGrey: #2b2f35;
    --grey: #2b2f35;
    --socialable: #61d1fa;
    --online: #59eb5c;
    --busy: #ff7676;
    --away: #f8f770;
    --headless: #BA64F2;
    --offline: #171a1d;
    --color: #E7ECEF;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--color);
    margin: 0;
}

html, body, .page {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

body {
    background-color: var(--offline);
}

.sideBar {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.sideBar button:last-child {
    margin-top: auto;
}

button {
    border-style: hidden;
    padding: var(--padding);
    min-width: 32px;
    min-height: 32px;
    background-color: var(--grey);
    border-radius: var(--border-radius);
    display: flex;
    background-color: var(--primary-color);
}

.hidden {
    display: none;
    visibility: hidden;
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
}

button:hover {
    filter: brightness(1.25);
}

.pButton > img {
    min-width: 32px;
}