/*
    Raisin Black: #272932
    Anti-Flash White: #E7ECEF
    Bittersweet: #F05D5E
    Caribbean Current: #0F7173
    Buff: #D8A47F

    Status colours
    Aqua: #42F2F7
    Lime Green: #31CB00
    Selective Yellow: #D00000
    Vermillion: #E63B2E
    Pomp and Power: #8D6A9F
*/

* {
    font-family: 'Roboto', sans-serif;
    color: #E7ECEF;
}

html, body, .page {
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #272932;
}

.sideBar {
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 4px;
}

.sideBar button:last-child {
    margin-top: auto;
}

button {
    border-style: hidden;
    padding: 8px;
    min-width: 32px;
    min-height: 32px;
    background-color: #0F7173;
    border-radius: 8px;
    display: flex;
}

.shadow {
    box-shadow: 0px 0px 4px #333333;
}

.hidden {
    display: none;
    visibility: hidden;
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
}

button:hover {
    filter: brightness(1.25);
}

.pButton > img {
    min-width: 32px;
}