:root {
    --color: #efece7;
    --primaryColor: #3498db;
    --secondaryColor: #2b2f35;
    --tertiaryColor: #171a1d;
    --padding: 8px;
    --gap: 8px;
    --borderRadius: 8px;
    --socialable: #61d1fa;
    --online: #59eb5c;
    --busy: #ff7676;
    --away: #f8f770;
    --headless: #BA64F2;
    --offline: #171a1d;
    --lerpTime: 0.125s;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--color);
    margin: 0;
}

html, body, .page {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

body {
    background-color: var(--tertiaryColor);
}

.sideBar {
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--padding);
    border-radius: var(--borderRadius);
}

.sideBar button:last-child {
    margin-top: auto;
}

button {
    border-style: hidden;
    padding: var(--padding);
    min-width: 32px;
    min-height: 32px;
    border-radius: var(--borderRadius);
    display: flex;
    background-color: var(--primaryColor);
    transition: var(--lerpTime) linear;
}

button:hover {
    filter: brightness(1.25);
}

button:disabled {
    filter: brightness(0.75);
}

.hidden {
    display: none;
    visibility: hidden;
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
}

.pButton > img {
    min-width: 32px;
}

.loginBanner {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.loginPanel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 300px;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor); 
    display: flex;
    gap: var(--gap);
    flex-direction: column;
}

#loginPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--tertiaryColor);
}

input { 
    border-radius: var(--borderRadius);
    flex-grow: 1;
    border-style: none;
    min-height: 32px;
    background-color: var(--tertiaryColor);
    padding: calc(var(--padding) / 2);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

input[type="checkbox"] {
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: var(--tertiaryColor); /* Unchecked background */
    border-radius: var(--borderRadius);
    appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.loginPanel > div:nth-of-type(2) {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.loginPanel > div:nth-of-type(2) > label {
    padding: var(--padding);
    background-color: var(--tertiaryColor);
    border-radius: var(--borderRadius);
    flex-grow: 1;
}

#rememberMe {
    background-color: var(--tertiaryColor); /* Unchecked background */
    border-radius: var(--borderRadius);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    transition: var(--lerpTime) linear;
}

#rememberMe:checked {
    background-color: var(--primaryColor); /* Checked background */
}