#userProfile {
    display: flex;
    flex-direction: column;
    min-width: 416px;
    max-width: 416px;
    gap: var(--gap);
    border-radius: var(--borderRadius);
}

#userProfile > .subPanel {
    display: flex;
    gap: 8px;
    flex-direction: column;
    overflow: hidden;
}

#profilePicture {
    min-width: 128px;
    min-height: 128px;
}

#profile {
    flex-grow: 1;
}

#profileInfo {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

#profileInfo > p{
    border-radius: var(--borderRadius);
    border-style: solid;
    border-color: var(--tertiaryColor);
    background-color: var(--tertiaryColor);
    padding: var(--padding);
    flex-grow: 1;
    white-space: pre-wrap;
}

#profileInfo .profilePicture {
    min-width: 96px;
}

#actions {
    justify-content: center;
    flex-grow: 0;
    flex: 0 0 auto;
}

#actions > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap);
}

#badges {
    border-radius: var(--borderRadius);
    border-style: solid;
    border-color: var(--tertiaryColor);
    background-color: var(--tertiaryColor);
    display: flex;
    padding: var(--padding);
    gap: 4px;
    flex-wrap: wrap;
    align-content: flex-start;
}

#badges img {
    flex: 1 1 calc((100% - 8 * 4px) / 9); 
    max-width: calc((100% - 8 * 4px) / 9);
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

#badges:not(:has(img)) {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

#userWorlds {
    border-radius: var(--borderRadius);
    background-color: var(--tertiaryColor);
    display: flex;
    padding: var(--padding);
    gap: var(--gap);
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#userWorlds:not(:has(button)) {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.userWorldItem {
    gap: var(--gap);
    min-height: 80px;
    max-height: 80px;
    flex-grow: 1;
}

.userWorldItem > div {
    border-radius: var(--borderRadius);
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: flex-start;
    font-stretch: condensed;
    justify-content: center;
    background-color: var(--secondaryColor);
}
.profileBadge {
    flex-grow: 1;
    max-width: 32px;
}

#userProfile > .subPanel:nth-of-type(2) > button,
#userProfile > .subPanel:nth-of-type(2) > div > button {
    justify-content: center;
    display: flex;
    align-items: center;
}

#userProfile > .subPanel:nth-of-type(2) > div > button {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: calc(100% / 3);
}