#worlds {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sessions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    overflow-y: auto;  
}

#SessionThumbnailContainer {
    position: relative;
}

#SessionThumbnailContainer #copy {
    position: absolute;
    top: 0px;
    right: 0px;
}

#SessionThumbnailContainer #preview {
    position: absolute;
    top: 0px;
    left: 0px;
}

#sessionSettings.hidden {
    visibility: hidden;
    display: none;
}

#sessionSettings.visible {
    visibility: visible;
    display: block;
}

.session {
    background-color: #2b2f35;
    color: #fff;
    border-style: none;
    width: calc(100vw / 6);
    padding: 16px;
    gap: 8px;
    align-items: stretch;
}

#SessionUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 8px;
    background-color: #4a4a4d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#SessionUsers p {
    margin: 0;
}

#SessionName {
    margin: 0;
    padding: 8px;
    background-color: #4a4a4d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.session img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}