#worlds {
    display: flex;
    flex-direction: column;
}

#sessions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    overflow-y: auto;  
    flex-grow: 1;
}

.session {
    background-color: #4F4557;
    color: #fff;
    border-radius: 8px;
    border-style: none;
    display: flex;
    flex-direction: column;
    width: calc(100vw / 6);
    padding: 16px;
    gap: 8px;
    align-items: stretch;
    justify-content: space-between;
}

.session p {
    margin: 0;
    padding: 16px;
    background-color: #6D5D6E;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.session img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    border-radius: 8px;
}