#settings {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: center;
}

#settingsActions {
    display: flex;
    gap: var(--gap);
    padding: var(--padding);
    background-color: var(--secondaryColor);
    border-radius: var(--borderRadius);
    justify-content: center;
    align-self: center;
}

#settingsLabel {
    align-self: center;
    padding: var(--padding);
    background-color: var(--secondaryColor);
    border-radius: var(--borderRadius);
}

.settings {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background: var(--secondaryColor);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    text-align: center;
}

.settingItem {
    background-color: var(--tertiaryColor);
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    gap: var(--gap);
    justify-content: space-between;
}

.settingItem > input {
    flex: 0 0 auto;
    padding: calc(var(--padding) / 2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-color: var(--secondaryColor);
}

.subPanel:has(.settings) {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    background-color: var(--tertiaryColor);
}