#toastContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #000;
    padding: 8px;
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
    gap: 8px;
    max-width: calc(100vw / 4);
}

.toast div {
    color: #000;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast .icon {
    width: 20px;
    height: 20px;
}