#userSearch {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 320px;
    gap: var(--gap);
    border-radius: var(--borderRadius);
}

#userSearch > div:first-child {
    border-radius: var(--borderRadius);
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex-grow: 0;
}

#userMessages {
    flex-grow: 4;
}

#contactsList {
    display: flex;
    border-radius: var(--borderRadius);
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: var(--gap);
    padding: var(--padding);
}

#contactsList::-webkit-scrollbar {
    display: none;
}

.userItem {
    padding: 8px;
    border-radius: var(--borderRadius);
    gap: 8px;
    min-height: 80px;
    max-height: 80px;
}

.userItem > div {
    border-radius: var(--borderRadius);
    flex-grow: 1;
    padding: var(--padding);
    background-color: var(--tertiaryColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profilePicture {
    border-radius: var(--borderRadius);
    border-style: solid;
    border-color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
    border-width: 4px;
    width: 56px;
    min-width: 56px;
    aspect-ratio: 1 / 1;
}

.userItem[status="Sociable"] {
    background-color: var(--socialable);
}

.userItem[status="Online"] {
    background-color: var(--online);
}

.userItem[status="Busy"]{
    background-color: var(--busy);
}

.userItem[status="Away"] {
    background-color: var(--away);
}

.userItem[status="Headless"] {
    background-color: var(--headless);
    
}

.userItem[status="Offline"] {
    background-color: var(--offline);
}

.userItem[status="Null"] {
    background-color: var(--offline);
}

.status {
    white-space: pre-wrap;
    text-align: left;
}