#tabs {
    flex-grow: 1;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tab div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tab.hidden {
    display: none;
    visibility: hidden;
}

.tab.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}